# macbook
.DS_Store
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Secret files
.vscode/
.secret/

#development
test_portal/
tempstorage/
.mypy_cache/

# virtualenv and packages
venv/
.venv/
dist/
requirements.txt
